form {
    display: flex;
    flex-direction: column;
}

form > * {
    margin: 8px auto;
}

form .input-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

form input {
    margin: 4px 4px;
}

button {
    width: 120px;
}

button:hover {
    background-color: rgb(133, 0, 0);
}

.duel-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
