form {
    display: flex;
    flex-direction: column;
}

form > * {
    margin: 8px auto;
}

form .input-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

form input {
    margin: 4px 4px;
}

button {
    width: 120px;
}

button:hover {
    background-color: rgb(133, 0, 0);
}

button:active {
    background-color: rgb(206, 206, 206);
}

.duel-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*Win thingy*/
#winner-result {
    color: white;

    display: inline-box;
    padding: 20px;
    margin: auto;
    /*background-color: rgb(255, 255, 255);*/
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    
    width: 200px;
    height: 80px;

    animation:slidebg 1.5s linear infinite;
}
  
@keyframes slidebg {
    0%   {
        background-position: 0px;
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    77% {
        transform: rotate(-20deg);
    }
    100% {
        background-position: 243px;
        transform: rotate(0deg);
    }
}

#winner-result .label {
    font-size: 15pt;
    padding: 5px;
    border: solid 1px white;
}
#winner-result .username {
    font-size: 30pt;
    background-color: transparent;
    text-shadow:
        3px 3px 0 rgba(78, 47, 0, 0.8),
      -1px -1px 0 rgba(78, 47, 0, 0.8), 
       1px -1px 0 rgba(78, 47, 0, 0.8),
       -1px 1px 0 rgba(78, 47, 0, 0.8),
        1px 1px 0 rgba(78, 47, 0, 0.8);
    
    animation:slidebgop 1.5s linear infinite;
}
@keyframes slidebgop {
    0%   {
        background-position: 0vw;
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(0deg);
    }
    77% {
        transform: rotate(30deg);
    }
    100% {
        background-position: 26vw;
        transform: rotate(0deg);
    }
}

@keyframes fadein-fadeout {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.versus {
    position:absolute;
    bottom: -100px;
    z-index: 1;
}

.score-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: green;
}

.points {
    position:absolute;
    color:green;
    text-shadow: 3px 3px 0 rgba(1, 31, 3, 0.8);
}