.main-container {
    display: flex;
    flex-direction: column;
}

main .link-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 12px 0;
    width: 50%;
}

main .link-container button {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 50px;
    text-align: center;
    padding: 14px 28px;
}

/*Button ANIMATION! for Inspect*/
button span.magnifying-glass {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

button span.magnifying-glass:after {
    /*content: '\00bb';*/
    content: url('images/magnifying-glass.png');
    position: absolute;
    opacity: 0;
    top: -13px;
    right: 150px;
    transition: 0.2s;
}

button:hover span.magnifying-glass {
    padding-right: 40px;
    color: white;
}

button:hover span.magnifying-glass:after {
    opacity: 1;
    right: -30px;
}

/*Button ANIMATION! for DEUL*/
button.duel:hover {
    cursor: pointer;
    background-color: rgb(133, 0, 0);
    color: white;
} 

button.duel span.first-sword {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

button.duel span.first-sword {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

button.duel span.first-sword:after {
    /*content: '\00bb';*/
    content: url('images/dueling-sword.png');
    position: absolute;
    opacity: 0;
    top: -13px;
    right: 0px;
    transition: 0.2s;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

button.duel:hover span.first-sword {
    padding-right: 40px;
    color: white;
}

button.duel:hover span.first-sword:after {
    opacity: 1;
    right: -28px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
/*Second sword*/
button.duel span.second-sword {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

button.duel span.second-sword:after {
    content: url('images/dueling-sword.png');
    position: absolute;
    opacity: 0;
    top: -13px;
    right: -100px;
    transition: 0.2s;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

button.duel:hover span.second-sword:after {
    opacity: 1;
    right: -43px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

@media screen and (min-width: 650px) {
    main section {
        flex-direction: row;
    }

    main .link-container {
        width: 30%;
    }
}