body {
    background-color: #efefef;
    z-index: 2;

    width: 100vw;
    height: 100vh;

    font-family: "Arial Black", "Gadget", Helvetica, sans-serif;
    /*'league_gothicregular', Arial, Helvetica, sans-serif;*/
}

.hide {
    display: none !important;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 95%;
    max-width: 750px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 24px 4px;
}

main {
    display: flex;
    flex-direction: column;
    height: 90%;

    border-radius: 4px;
    background-color: rgb(224, 224, 224);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

main hr {
    margin: 0 24px;
    border-color: #555555;
    background-color: #555555;
    color: #555555;
}

main > span {
    display: flex;
    justify-content: center;

    margin: 24px 0;
    height: 60px;

    font-size: 56px;

    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    line-height: 1;
}

main section {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 24px 0;
}

a {
    margin: 0 12px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    text-decoration: none;
    color: rgb(88, 88, 88);
}

a.active {
    font-weight: bold;
    color: rgb(88, 88, 88);
}

button {
    color: #111111;
    background: transparent;
    border: 2px solid #111111;
    border-radius: 4px;
    transition: all 0.2s;
    text-transform: uppercase;
}

button:hover {
    cursor: pointer;
    background-color: #0f0044;
    color: white;
}

button:active {
    background-color: rgb(206, 206, 206);
}

button:focus {
    outline:0;
}

input {
    text-align: center;
}

input::-webkit-input-placeholder {
    text-align: center;
}

input:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

input::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}

input:-ms-input-placeholder {
    text-align: center;
}


/*User Results*/
.user-results {
    width: 300px;
    height: 490px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    background-color: rgb(224, 224, 224);
    background-image: url('images/card.png');
    background-size: cover;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/*Username*/
span.username {
    font-size: 20pt;
    font-weight: bold;
    background-color: rgb(44, 44, 44);
    color: white;
    padding: 10px;
    width: 80%;
    text-align: center;
    border-radius: 8px;
}

/*Stat Default*/
.stats {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.stats .stat {
    display: flex;
    flex-direction: row;
}

.stats .stat > * {
    display: flex;
    width: 50%;
}

.stat .label {
    justify-content: flex-start;
    white-space: nowrap;
}

.stat .value {
    justify-content: flex-end;
    white-space: nowrap;
}

/*Loading message*/
.loading {
    display: flex;
    flex-direction: row;
}
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #34db58;
  width: 12px;
  height: 12px;
  margin: 10px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* load animation */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
 
    position: absolute;
    z-index: 4;

    display:inline-block;

    font-size: 8pt;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px;
    border-radius: 6px;
    white-space: normal;
    word-wrap: normal;
    word-break: normal;
    overflow-wrap: break-word;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip {
    margin-left: 2px;
    border: solid 1px black;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*Make sure the images isn't too big*/
.avatar {
    width: 200px;
}
.title-icon {
    width: 20px;
}

.email {
    color: rgb(102, 102, 102);
    font-size: 10pt;
}

.location {
    color: rgb(102, 102, 102);
    font-size: 10pt;
}

.bio {
    color: grey;
    font-size: 10pt;
    font-style: italic;
    text-align: center;
}

.error {
    margin: auto;
    width: 300px;
    text-align: center;
}